.board{
    outline: 3px solid #B67CE6;
}

.row{
    height: 25px;
}

.cell{
    width: 25px;
    height: 25px;
    outline: 1px solid #B67CE6;
    display: inline-block;
}
  
.cell-green {
    background-color: #119DA4;
}

.cell-red {
    background-color: #D62839;
}

.cell-purple {
    background-color: #FAC748;
}

